header{
    height: 100px;
    background:#4D4D5C;
    padding: 0 50px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    color:#f8f8fa;
    font-weight: 200;
}
.menu a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    transition: 0.4s;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu{
    order: 1;
}
.menu a:hover,
.mostrar-menu,
.esconder-menu{
    color: #142ef4;
 }
.linea{
    border-top: 5px solid rgb(46, 91, 131);
    margin-bottom: 40px;
}
.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}
.contenedor-imagenes .imagenes{
    width: 32%;
    position: relative;
    height: 300px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, 0.75);
}
.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(36,159,235,0.444);
    width: 100%;
    height: 0;
    transition: 1s ease;
    overflow: hidden;
}
.overlay h2{
    color:#fff;
    font-weight: 400;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -10%);
}
.imagenes:hover .overlay{
    height: 100%;
    cursor: pointer;
}
.pie-pagina{
    width: 100%;
    background-color: black;

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 100px;
}
.pie-pagina .grupo-1 .box h2{
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: aliceblue;
    margin-bottom: 10px;
    

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    background-color: rgb(23, 71, 226);
    text-align: center;
    transition: all 300ms ease;


}
.pie-pagina .grupo-1 .red-social a:hover{
    color: blue;

}
.pie-pagina .grupo-2{
    background-color: rgb(25, 89, 237);
    padding: 15px 10px;
    text-align: center;
    color: aliceblue;

}
.pie-pagina .grupo-2 small{
    font-size: 20px;
}